<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Mi Empresa</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html" class="activo">Productos</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Nuestra Galería de Productos</h1>
        <div class="galeria">
            <div class="galeria-item">
                <img src="../images/productos/producto1.jpg" alt="Higiene dental" class="galeria-img"> 
                <div class="overlay">
                    <img src="../images/productos/producto1.jpg" alt="Higiene dental Ampliada" class="galeria-img-ampliada">
                </div>
                <p>Higiene dental</p>
            </div>
            <div class="galeria-item">
                <img src="../images/productos/producto2.jpg" alt="Colored Orthodontic Resin" class="galeria-img">
                <div class="overlay">
                    <img src="../images/productos/producto2.jpg" alt="Colored Orthodontic Resin Ampliada" class="galeria-img-ampliada">
                </div>
                <p>Colored Orthodontic Resin</p>
            </div>
            <div class="galeria-item">
                <img src="../images/productos/producto3.jpg" alt="Braces de ortodoncia" class="galeria-img">
                <div class="overlay">
                    <img src="../images/productos/producto3.jpg" alt="Braces de ortodoncia Ampliada" class="galeria-img-ampliada">
                </div>
                <p>Braces de ortodoncia</p>
            </div>
            <div class="galeria-item">
                <img src="../images/productos/producto4.jpg" alt="Escalador de dientes" class="galeria-img">
                <div class="overlay">
                    <img src="../images/productos/producto4.jpg" alt="Escalador de dientes Ampliada" class="galeria-img-ampliada">
                </div>
                <p>Escalador de dientes</p>
            </div>
            <div class="galeria-item">
                <img src="../images/productos/producto5.jpg" alt="Opallis Flow Composite" class="galeria-img">
                <div class="overlay">
                    <img src="../images/productos/producto5.jpg" alt="Opallis Flow Composite Ampliada" class="galeria-img-ampliada">
                </div>
                <p>Opallis Flow Composite</p>
            </div>
            <div class="galeria-item">
                <img src="../images/productos/producto6.jpg" alt="Instrumentos de exploración" class="galeria-img">
                <div class="overlay">
                    <img src="../images/productos/producto6.jpg" alt="Instrumentos de exploración Ampliada" class="galeria-img-ampliada">
                </div>
                <p>Instrumentos de exploración</p>
            </div>
        </div>
    </main>
    

    <!-- Pie de página -->
    <footer>
        <div class="footer-container">
            <div class="logo-footer">
                <img src="../images/logo.png" alt="Logo de la Empresa" class="logo">
                <div class="redes-sociales">
                    <a href="#"><img src="../images/social_icons/facebook.png" alt="Facebook"></a>
                    <a href="#"><img src="../images/social_icons/twitter.png" alt="Twitter"></a>
                    <a href="#"><img src="../images/social_icons/instagram.png" alt="Instagram"></a>
                </div>
                <div class="direccion">
                    <p>Dirección: Calle ciutat vella, Valencia, España</p>
                </div>
                <div class="aviso-legal">
                    <p>&copy; 2024 Mi Empresa - Aviso Legal</p>
                </div>
            </div>        
        </div>    
    </footer>
</body>
</html>
